
  body{ background-color:  #ccffff;}
  hr{

    border-style: none;
    border-top-style: dotted;
    border-color: #424949;
    border-width: 0.5em;

    width: 5%;
  }
h1{
  background-color: #66bfbf;


}
h2{
  background-color: #66bfbf;

}
h3{
  background-color: #66bfbf;

}
h4{
  background-color: #66bfbf;
}
h5
{
  background-color: #66bfbf;

}
h6{
  background-color: #66bfbf;
}
